.todo-list-item {
    display: block;
    line-height: 2rem;
    padding: .25rem .5rem;
}
.todo-list-item .btn {
    width: 2rem;
    height: 2rem;
}

.todo-list-item.important {
    color: #721c24;
    background-color: #f8d7da;
}

.todo-list-item.done {
    color: #155724;
    background-color: #d4edda;
    font-weight: bold;
}
.todo-list-item span {
    display: inline-block;
    cursor: pointer;
}
.todo-list-item.done span {
    text-decoration: line-through;
}
